## 5. 데이터 확인
### DataFrame 확인
- 계산 가능한 데이터에 대해 Column 별로 데이터의 개수, 평균, 표준편차, 최소/최댓값 등의 정보를 보여줌

In [13]:
import pandas as pd
data = {
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50],
    "C": [100, 200, 300, 400, 500],
    "D": [1000, 2000, 3000, 4000, 5000],
    "E": ['11', '22', '33', '44', '55'],
}
df = pd.DataFrame(data, index=["a", "b", "77", "d", "e"])
df.describe() # E column은 문자열이므로 제외됩니다.

              A          B           C           D
count  5.000000   5.000000    5.000000     5.00000
mean   3.000000  30.000000  300.000000  3000.00000
std    1.581139  15.811388  158.113883  1581.13883
min    1.000000  10.000000  100.000000  1000.00000
25%    2.000000  20.000000  200.000000  2000.00000
50%    3.000000  30.000000  300.000000  3000.00000
75%    4.000000  40.000000  400.000000  4000.00000
max    5.000000  50.000000  500.000000  5000.00000

In [14]:
df.info() # E 열은 문자열이므로 object 타입으로 표시됩니다.

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
 4   E       5 non-null      object
dtypes: int64(4), object(1)
memory usage: 240.0+ bytes

In [7]:
df.values # DataFrame의 값을 NumPy 배열로 반환합니다.

array([[1, 10, 100, 1000, '11'],
       [2, 20, 200, 2000, '22'],
       [3, 30, 300, 3000, '33'],
       [4, 40, 400, 4000, '44'],
       [5, 50, 500, 5000, '55']], dtype=object)

In [15]:
df.index # DataFrame의 인덱스를 반환합니다.

Index(['a', 'b', '77', 'd', 'e'], dtype='object')

In [16]:
df.columns # DataFrame의 열 이름을 반환합니다.

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [19]:
df.shape # DataFrame의 형태를 반환합니다. rows와 columns의 수를 튜플로 반환합니다.

(5, 5)

### Series 확인인

In [ ]:
df['A'].describe() # A 열에 대한 통계 요약을 반환합니다.
# df['A'].mean() # A 열의 평균을 계산합니다.
# df['A'].sum() # A 열의 합계를 계산합니다.
# df['A'].max() # A 열의 최대값을 반환합니다.
# df['A'].min() # A 열의 최소값을 반환합니다.
# df['A'].std() # A 열의 표준편차를 계산합니다.
# df['A'].var() # A 열의 분산을 계산합니다.
# df['A'].median() # A 열의 중앙값을 계산합니다.
# df['A'].quantile(0.5) # A 열의 50% 분위수를 계산합니다.
# df['A'].quantile(0.25) # A 열의 25% 분위수를 계산합니다.
# df['A'].quantile(0.75) # A 열의 75% 분위수를 계산합니다.

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
Name: A, dtype: float64

In [24]:
df["B"].nlargest(3) # B 열에서 가장 큰 3개의 값을 내림차순으로 반환합니다.
df["B"].nsmallest(2) # B 열에서 가장 작은 2개의 값을 오름차순으로 반환합니다.
df["C"].unique() # C 열의 중복을 제거한 고유 값을 반환합니다.
df["C"].count() # C 열의 NaN이 아닌 값의 개수를 반환합니다.
df["C"].value_counts() # C 열의 각 고유 값의 개수를 반환합니다.

C
100    1
200    1
300    1
400    1
500    1
Name: count, dtype: int64