# 데이터프레임 행, 열 선택 및 필터

- ## 특정한 열을 출력하고 싶을 때
    - ` df.filter(items=[]) `
    - 특정한 행을 출력하고 싶다면 `axis=0`을 추가
- ## 열 이름에 특정한 문자가 포함된 열들만 출력하고 싶을 때
    - ``` df.filter(like='문자', axis=1) ```
- ## 반대로 행 이름에 특정한 문자가 포함된 행들만 출력하고 싶을 때
    - ``` df.filter(like='문자', axis=0) ```
- ## 행렬 이름들을 리스트로 반환
    - ``` df.columns.to_list() # 열 이름을 리스트로 변환 ```
    - ``` df.index.to_list() # 행 이름을 리스트로 반환 ```
- ## 행렬 이름 변경
    - ``` df.columns = ['a', 'b', 'c', 'd'] # 열 이름 변경```
    - ``` df.index = ['문자A', '문자B', '숫자C'] # 행 이름 변경```
- ## 정규 표현식을 사용해 필터링
    - ` df.filter(regex='문자') `
    
    - ### 자주 사용되는 정규 표현식 패턴
        - `^abc`: 문자열이 abc로 시작.
        - `abc$`: 문자열이 abc로 끝남.
        - `.*`: 임의의 문자 0개 이상.
        - `\d+`: 하나 이상의 숫자.
        - `[a-z]+`: 소문자 알파벳 1개 이상.
        - `[A-Z]+`: 대문자 알파벳 1개 이상.
        - `col|xyz`: col 또는 xyz가 포함된 경우.

In [51]:
import pandas as pd
from collections import OrderedDict

# 예시 데이터프레임
num_ordered_dict = OrderedDict(
    [
    ('문자열_1', [1, 2, 3]),
    ('숫자_1', [4, 5, 6]),
    ('문자열_2', [7, 8, 9]),
    ('데이터', [10, 11, 12])
    ]
)
df = pd.DataFrame.from_dict(num_ordered_dict)
df.index = ['문자A', '문자B', '숫자C']
df.filter(items=['문자열_2'])

     문자열_2
문자A      7
문자B      8
숫자C      9

5월 24일 만들어본 데이터 프레임에 index 파라미터 추가해보기

In [56]:
crypto_list = [
    ['bitcoin', 1, 108719],
    ['ethereum', 2, 2556],
    ['ripple', 3, 2.35]
]
columns_name = ['name', 'number', 'price']
df_crypto = pd.DataFrame.from_records(crypto_list, columns = columns_name, index = ['비트', '이더', '리플'])
df_crypto

        name  number      price
비트   bitcoin       1  108719.00
이더  ethereum       2    2556.00
리플    ripple       3       2.35