# pandas: 파이썬에서 사용하는 데이터 분석 라이브러리

## 1. Serise
1차원 데이터(정수, 실수, 문자열 등)

### Series 객체 생성
- ex) 100 ~ 105까지 가격 데이터

In [2]:
import pandas as pd
price = pd.Series([100, 101, 102, 103, 104, 105])
price

0    100
1    101
2    102
3    103
4    104
5    105
dtype: int64

In [3]:
price[2:4]

2    102
3    103
dtype: int64

### Series 객체 생성(Index 지정)

In [4]:
price = pd.Series([100, 101, 102, 103, 104, 105], index=['mon', 'tue', 'wed', 'thu', 'fri', 'sat'])
price

mon    100
tue    101
wed    102
thu    103
fri    104
sat    105
dtype: int64

In [10]:
price['mon'] # index mon에 해당하는 값 출력

100

## 2. DataFrame
2차원 데이터(Series들의 모음)